<div class="container">
 
  
    <h2 mat-dialog-title>Informes de Desempeño de {{cursoAnio}} {{cursoDivision}}</h2>

  
    <mat-divider></mat-divider>
 
    <mat-grid-list cols="4" rowHeight="100px">
     
      <mat-grid-tile>
       
          <div class="mat-grid-tile-content">
             
            <div class="row">
             
              <mat-label>DNI</mat-label>  
           
           
            </div>
            <div class="row">
              <mat-label>Nombres</mat-label> 
           
            </div>
            <div class="row">
              <mat-label>Profesor</mat-label> 
           
            </div>
         
         </div>

      </mat-grid-tile>
      <mat-grid-tile>
        <div class="mat-grid-tile-content">
             
          <div >
           
             {{dni}}
         
         
          </div>
          <div>
           {{nombres}}
         
          </div>
          <div>
            {{profesor}}
          
           </div>
       
       </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="mat-grid-tile-content">
        <div class="row">
            <mat-label>Apellido</mat-label>  
           
        </div>
        <div class="row">
          Email  
      </div>
      <div class="row">
        Ciclo Lectivo  
    </div>
     </div>
    </mat-grid-tile>
      <mat-grid-tile>
        <div class="mat-grid-tile-content">
          <div >
               {{apellidos}}
             
          </div>
          <div >
             {{email}}
        </div>
        <div >
          {{cicloLectivo}}
     </div>
       </div>
         
      </mat-grid-tile>


      
    </mat-grid-list>
   
  
    <mat-divider></mat-divider>

    <mat-grid-list cols="2" rowHeight="45px">
     
      <mat-grid-tile>
       
        <div class="mat-grid-tile-content">
          <h3>Criterios de Evaluación</h3>

        </div>

      </mat-grid-tile>
      <mat-grid-tile>
        <div class="mat-grid-tile-content">

          <h3>Estrategias de Evaluación</h3>

        </div>

   
      </mat-grid-tile>
      


      
</mat-grid-list>
 <mat-grid-list cols="2" rowHeight="{{rowHeight}}px">
     
      <mat-grid-tile>
       
          <div class="row2">
           
            
            <div class="lista">
              <mat-selection-list >
                <mat-list-item class="mat-list-item" *ngFor="let criterio of criterios">
                  {{criterio.criterio}}
                </mat-list-item>
              </mat-selection-list>

            </div>
           
           
         
         </div>

      </mat-grid-tile>
      <mat-grid-tile>
        <div class="row2">

             
          <mat-selection-list  class="lista">
            <mat-list-item *ngFor="let estrategia of estrategias">
              {{estrategia.estrategias}}
            </mat-list-item>
          </mat-selection-list>
       
       </div>
      </mat-grid-tile>
      


      
</mat-grid-list>
      
    <mat-divider></mat-divider>
   

    <table mat-table [dataSource]="dataSource" matSort>
  
           
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contenido </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
        </ng-container>
      
     
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
          <td mat-cell *matCellDef="let element"> 
            
              <mat-icon  class="btnDelete" matTooltip="Delete" (click)="deleteContenido(element.id)">delete</mat-icon>
                      
            </td>
       </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    <mat-dialog-actions align="end">
      <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
      <button type="button" (click)="generarInforme()"mat-button cdkFocusInitial> Generar </button>
    </mat-dialog-actions>
    
    </div>

