table {
    width: 100%;
}
button {
    margin: 10px;
}
button:hover{
    background-color:#8ac6ee;
    color: aliceblue;
    };

.curso {
    display: flex;
    align-items: flex-end;
}

p {
   display: inline; 
   margin-left: 50px;
}

h3 {
    margin: 0%;
    margin-top: 10px;
    margin-bottom: 5px;
    left: 0;
  }

  .titulo {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  