table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}


.serch {

  align-items: center;
}

mat-form-field {
   margin-left: 20px;
}
h3 {
  margin: 0%;
  margin-top: 10px;
  margin-bottom: 5px;
  left: 0;
}
button {
  margin-left: 10px;
}
