
  
      <mat-card>
        
        <mat-card-content>
        
        
          <div class="titulo">
            <h3>
              Generar Informes de Desempeño
            </h3>
          </div>

          <mat-divider></mat-divider>
          <div class="detalles">

             <div class="parte-1">

                <div class="linea">    <h3 >Curso:   </h3>  {{anioCurso}} Año </div>
                 <div class="linea">   <h3 >División:  </h3>{{divisionCurso}} </div>
                 

             </div>
            <div class="parte-2">
        
                  <div class="linea">    <h3 >Técnicatura:  </h3>{{tecnicatura}}</div>
                  <div class="linea">   <h3 >Turno:  </h3> </div>
            </div>

              <div class="parte-3">
                <div class="linea">   <h3 >Espacio Curricular:  </h3>{{NombreAsignatura}} </div>
                <div class="linea">  <h3 >Ciclo Lectívo:  </h3>{{cicloLectivo}}</div>
              </div>

          </div>
       
          <mat-divider></mat-divider>
        
        
          <div class="serch">

         
          <mat-form-field appearance="standard">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input autocomplete="off">
          </mat-form-field>
          </div>
  
         <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
  
           
            <ng-container matColumnDef="dni">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dni </th>
              <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
            </ng-container>
          
         
            <ng-container matColumnDef="nombres">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
              <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
            </ng-container>
          
         
            <ng-container matColumnDef="apellido">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
              
              <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                    
            </ng-container>

           

          

            
            
            <ng-container matColumnDef="informes">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
              <td mat-cell *matCellDef="let element" > 
               
                <button *ngIf="isInforme===0" mat-raised-button (click)="generarInforme(element.id)" >
                  <mat-icon>add</mat-icon>
                  Generar Informe
                </button>
                 
               

           </ng-container>
          
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
            <tr  mat-row (click)="actualizar(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
          
          </table>
         </div>
  
          
            <mat-paginator [pageSizeOptions]="[20, 40]"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
          
        </mat-card-content>
      </mat-card>
  
    