

<div class="content"  [style.margin]="'16px'">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div  fxFlex="100%"
    >
      <mat-card class="mat-elevation-z4">
       
        
        <mat-card-content>
          <div class="detalles">

            <div class="parte-1">

               <div class="linea">    <h3 >Curso:   </h3>  {{anioCurso}} Año </div>
               <div class="linea">    <h3 >Espacio Curricular:   </h3>  {{nombreCurso}}</div>
              

            </div>
            </div>

       

        
        </mat-card-content>
        <mat-divider></mat-divider>
        <section class="botones">
        <div class="fila-btn">
          <button  mat-stroked-button (click)="generarInformes(materia)">Generar Informes</button>
        </div>
          <mat-divider></mat-divider>

          <div class="fila-btn">
            <button  mat-stroked-button (click)="contenidos(materia)">Contenidos/Estrategias</button>
          </div>
            <mat-divider></mat-divider>
            <div class="fila-btn">
              <button mat-stroked-button (click)="actualizar(materia)">Actualizar Diciembre/Febrero</button>
        </div>
          <mat-divider></mat-divider>
          <div class="fila-btn">
            <button mat-stroked-button (click)="actualizarMesa(materia)">Actualizar Mesa Examen</button>
          </div>
            <mat-divider></mat-divider>
        
        
        
        
      </section>
      </mat-card>
    </div>
  </div>
</div>

