.botones {
    display: grid;
    margin-top: 2rem;
}
.curso {
    font-weight: 500;
}
.curso-detalle {
    font-weight: 300;
    margin-left: 5px;
}
.row {
    display: flex
}
.botones .fila-btn {
    margin: 8px 8px 8px 0;
  }
