

<div class="content"  [style.margin]="'16px'">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div  fxFlex="100%"
    >
      <mat-card class="mat-elevation-z4">
       
        
        <mat-card-content>
           <div class="row">
            
          <div class="curso">Curso:</div>
          <div class="curso-detalle">{{anioCurso}} Año</div>
           </div>
         
           <div class="row">
            
          <div class="curso"> Espacio Curricular:  </div>
          <div class="curso-detalle"> {{nombreCurso}} </div>
           </div>

           <div class="row">

            
          <div class="curso">Ciclo Lectivo: </div>
          <div class="curso-detalle"> {{cicloLectivo}} </div>
           </div>

        
        </mat-card-content>
        <mat-card-actions class="botones">
        
          <button  type="button" (click)="generarInformes(materia)">Generar Informes</button>
          <button   type="button" (click)="contenidos(materia)">Contenidos/Estrategias</button>
          <button  type="button" (click)="actualizar(materia)">Actualizar Diciembre/Febrero</button>
          <button  type="button" (click)="actualizarMesa(materia)">Actualizar Mesa Examen</button>
        
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

