 
  <div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
      <h2>Espacios Curruculares</h2>
      <mat-card>

        <mat-card-content>
          <div class="serch">
  
         
            <mat-form-field appearance="standard" *ngFor="let empfilter of empFilters">
              <mat-label>{{ empfilter.name }}</mat-label>
              <mat-select
                [(value)]="empfilter.defaultValue"
                (selectionChange)="applyEmpFilter($event, empfilter)"
              >
                <mat-option *ngFor="let op of empfilter.options" [value]="op">
                  {{ op }}
                </mat-option>
              </mat-select>
            </mat-form-field>
    
            <button mat-raised-button (click)="irAlistarMaterias()">Agregar Espacio Curricular</button>
  
            </div>
    
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
    
              <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by year"> Espacio Curricular </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
              <ng-container matColumnDef="anio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by year"> Año </th>
                <td mat-cell *matCellDef="let element"> {{element.curso.anio}} </td>
              </ng-container>
            
           
              <ng-container matColumnDef="division">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by division"> Division </th>
                <td mat-cell *matCellDef="let element"> {{element.curso.division}} </td>
              </ng-container>
    
              <ng-container matColumnDef="turno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Turno </th>
                <td mat-cell *matCellDef="let element"> {{element.curso.turno}} </td>
              </ng-container>
            
           
              <ng-container matColumnDef="cicloLectivo">
                <th mat-header-cell *matHeaderCellDef mat-sort-headersortActionDescription="Sort by cicloLectivo"> Ciclo Lectivo </th>
                <td mat-cell *matCellDef="let element"> {{element.curso.cicloLectivo}} </td>
                      
              </ng-container>
              
              
             
              
             
    
           
    
          
            
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row (dblclick)="mostrarDetalle(row)"         
              mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            
              <mat-paginator [pageSizeOptions]="[10, 20]"
              showFirstLastButtons
              aria-label="">
            </mat-paginator>
        
    
    
        </mat-card-content>
      </mat-card>
      

        </div>
      </div>
        
          