<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div  fxFlex="95%">
    
    
    
      
     
            
        <h1 class="titulo">SiGeID</h1>
        <h3 class="note">Sistema de Gestión de Informes de Desempeño</h3>
        <mat-divider class="divider"></mat-divider>

        <h3 class="usuario" >Bienvenido {{usuario}} <span>   {{nombreUsuario}}  </span></h3>
       
       
         
        
        
    

   
      
      

    

  </div>
</div>