<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
    <h2 mat-dialog-title>Informes de Desempeño por Año</h2>
   
    <div>
                  <mat-form-field>
            <mat-label>Ciclo Lectivo </mat-label>
            <mat-select>
              <mat-option *ngFor="let ciclo of ciclos" [value]="ciclo.value">
                {{ciclo.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
   
    <div style="width:100%;">
        <canvas id="myChart" width="700" height="250" #mychart></canvas>
     </div>

     <div style="width:100%;">
      <canvas id="myChart2" width="700" height="250" #mychart2></canvas>
   </div>

   <div style="width:100%;">
    <canvas id="myChart3" width="700" height="250" #mychart3></canvas>
 </div>
 <div style="width:100%;">
  <canvas id="myChart4" width="700" height="250" #mychart4></canvas>
</div>
<div style="width:100%;">
  <canvas id="myChart5" width="700" height="250" #mychart5></canvas>
</div>
<div style="width:100%;">
  <canvas id="myChart6" width="700" height="250" #mychart6></canvas>
</div>

  
    </div>
</div>